.apuesta-ganada-fondo {
    --background: var(--ion-color-ganada);
    background: var(--ion-color-ganada);
}

.apuesta-perdida-fondo {
    --background: var(--ion-color-perdida);
    background: var(--ion-color-perdida);
}

.apuesta-nula-fondo {
    --background: var(--ion-color-nula);
    background: var(--ion-color-nula);
}

.btn-grande {
    font-size: 1.2rem;
}

ion-item{
    &.item-lista {
        --background: inherit;
    }
}